<h2> I AMA Homepage </h2>

<%= link_to "Add a new link", new_link_path %>

<ul>
	<% @links.each do |link| %>
		<li> 
			<% if current_user && current_user.votes.where(link_id: link.id , up: true).present? %>
				*
			<% else %>
				<%= link_to '+', votes_path(vote: {link_id: link.id , up: true}), method: :post %>
			<% end %>

			<%= link.votes.where(up: true).count - link.votes.where(up:false).count %>

			<% if current_user && current_user.votes.where(link_id: link.id, up: false).present? %>
				*
			<% else %>
				<%= link_to '-', votes_path(vote: {link_id: link.id , up: false}), method: :post %>
			<% end %>
			<%= link_to link.title, link.url %> - <%= link_to pluralize(link.comments.count, "comment"), link %> 
		</li>
	<% end %>

	<%= will_paginate @links %>
</ul>
	
